<div class="card">
    <div class="card-header text-center">
        <h1 >{{title}} detail</h1>
    </div>
    <div class="card-body">
        <div>
            <form class="row g-3 needs-validation" novalidate ng-submit="updateColor()">
                <div class="col-6">
                    <label for="validationCustom01" class="form-label fs-5">{{title}} code</label>
                    <input type="text" class="form-control" id="validationCustom01" ng-model="colorInput.maMau">
                    <div class="text-danger mt-1 fs-6" ng-if="checkColor.maMau">
                        *{{title}} code is required
                    </div>
                </div>
                <div class="col-6">
                    <label for="validationCustom02" class="form-label fs-5">{{title}} name</label>
                    <input type="text" class="form-control" id="validationCustom02" ng-model="colorInput.tenMau">
                    <div class="text-danger mt-1 fs-6" ng-if="checkColor.tenMau">
                        *{{title}} name is required !
                    </div>
                </div>
                <div class="col-12">
                    <input type="radio" name="status" value="Active" ng-model="colorInput.trangThai" > Active
                    <input type="radio" name="status" value="Inactive" ng-model="colorInput.trangThai"> Inactive
                    <div class="text-danger mt-1 fs-6" ng-if="checkColor.trangThai">
                        *Status is required !
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>