<div class="row justify-content-evenly">
    <div class="col-3 card">
        <div class="card-header">
            <h4 class="text-start">Day revenue</h4>
        </div>
        <div class="card-body">
            <p class="text-center" ng-bind="dayRevenue"></p>
        </div>
    </div>
    <div class="col-3 card">
        <div class="card-header">
            <h4 class="text-start">Monthly Revenue</h4>
        </div>
        <div class="card-body">
            <p class="text-center" ng-bind="monthlyRevenue"></p>
        </div>
    </div>
    <div class="col-3 card">
        <div class="card-header">
            <h4 class="text-start">Revenue By Year</h4>
        </div>
        <div class="card-body">
            <p class="text-center" ng-bind="revenueByYear"></p>
        </div>
    </div>
</div>